# Python
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
*.sqlite3
/staticfiles/
/media/

# Virtual Environment
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets (if you use .env)
.env
